<p id="notice" class="alert alert-success alert-dismissible fade show" role="alert"><%= notice %></p>

<h1>Clients</h1>

<table class='table table-striped table-hover table-bordered'>
  <thead class="thead-dark">
    <tr >
      <th>Fname</th>
      <th>Lname</th>
      <th>Mealtype</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Address</th>
      <th>Notes</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @clients.each do |client| %>
      <tr>
        <td><%= client.fname %></td>
        <td><%= client.lname %></td>
        <td><%= client.mealType %></td>
        <td><%= client.email %></td>
        <td><%= client.phone %></td>
        <td><%= client.address %></td>
        <td><%= client.notes %></td>
        <td><%= link_to 'Show', client , class:'btn btn-primary'%></td>
        <td><%= link_to 'Edit', edit_client_path(client), class: "btn btn-primary" %></td>
        <td><%= link_to 'Destroy',client, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


<%= link_to 'New Client', new_client_path, class: "btn btn-success"%>
