
<% if user_signed_in? %>
  

<h1>Clients</h1>
<br/> 
<table class='table table-striped table-hover table-bordered'>
  <thead class="thead-dark">
    <tr >
      <th>Name </th> 
      <th>Mealtype</th>
      <th>Email</th>
      <th>Phone</th>

      <th>Address</th>
      <th>Notes</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @clients.each do |client| %>
      <tr>
        <td><%= link_to client.fname + " " +client.lname, client %></td>
        <td><%= client.mealType %></td>
        <% if client.user == current_user %>  
        <td><%= client.email %></td>
        <td><%= client.phone %></td>
        <% else %>
        <td></td>
        <td></td>
        <% end %>
        <td><%= client.address %></td>
        <td><%= client.notes %></td>
        <td><%= link_to 'Destroy',client, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>




<%= link_to 'New Client', new_client_path, class: "btn btn-success"%>

<% else %>


<h3 class='text-center'> Please sign up/sign in </h3>



<% end %>
