
<div class="jumbotron">
  <h1 class="display-4">  <%= @client.fname%>  <%= @client.lname %> </h1>
  <p class="lead"><%= @client.mealType %></p>
  <hr class="my-4">
  <p><%= @client.phone %> | <%= @client.email %> | <%= @client.address %> </p>
  <p> <%= @client.notes%></p>


  <p class="lead">
    <%= link_to 'Edit', edit_client_path(@client),class:"btn btn-primary btn-lg" %>
    <%= link_to 'Back', clients_path,class:"btn btn-primary btn-lg" %>
  </p>
</div>

 